/*CSS file formats/styles data for the web browser*/
/*Author: Brent Key*/

body {
    font: small 'Lucida Grande', Verdana, Arial, sans-serif;
}

h2 {
    font-size: 120%;
    font-weight: bold;
}

/* the results section is initially invisible */
section#results {
    display: none;
}

table {
    border-collapse: collapse;
    margin-bottom: 50px;
}

table thead td {
    font-weight: bold;
}

table td {
    border: 2px solid rgb(200,200,200);
    padding: 4px 12px;
}
